@model IEnumerable<Titles>

@{
    ViewData["Title"] = "職稱資料列表";
    Layout = "_Layout";
}

<div class="card border-secondary">
    <div class="card-header bg-secondary text-white">
        <h5>@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="table-secondary">
                    <tr>
                        <th>
                            @Html.ActionLink("新增", "CreateEdit", "Title", new { area = "" }, new { @class = "btn btn-primary" })
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TitleNo)
                        </th>
                         <th>
                            @Html.DisplayNameFor(model => model.TitleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remark)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("修改", "CreateEdit", "Title", new { area = "", id = item.Id }, new
                                { @class = "btn btn-success" })
                            @Html.ActionLink("刪除", "Delete", "Title", new { area = "", id = item.Id }, new
                                 { @class = "btn btn-danger", onclick = "return confirm('是否確定要刪除?');" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TitleNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TitleName)
                            </td>
                            <td class="table-wrap">
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
