@{
    ViewData["Title"] = "Demo18";
    Layout = "_Layout";
}

<h3 class="text-primary">Razor Demo18</h3>

<div class="card card-size-small mt-5">
    <div class="card-header bg-secondary text-white">
        <div class="pt-2 px-2">
            <div class="float-start">
                <h4>使用 Controller 傳遞一個下拉式選單資料</h4>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row form-group">
                    @Html.Label("TypeNo1", "ViewData :", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("TypeNo1", (List<SelectListItem>)ViewData["Item1"], new { @class = "form-control" })
                        @Html.ValidationMessage("TypeNo1", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.Label("TypeNo2", "ViewBag :", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("TypeNo2", (List<SelectListItem>)ViewBag.Item2, new { @class = "form-control" })
                        @Html.ValidationMessage("TypeNo2", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.Label("TypeNo3", "TempData :", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("TypeNo3", (List<SelectListItem>)TempData["Item3"], new { @class = "form-control" })
                        @Html.ValidationMessage("TypeNo3", "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="float-start">
                            <input type="submit" value="確認送出" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
